/* Estilos para la barra de navegación */
.navbar {
    background-color: #DA291C;
    color: #ffffff;
    padding: 5px; /* Se redujo el padding */
    text-align: center;
    position: fixed; /* Fijar el navbar en la parte superior */
    top: 0; /* Posicionarlo en la parte superior */
    left: 0; /* Posicionarlo en el borde izquierdo */
    width: 100%; /* Asegurarse de que ocupe todo el ancho */
    z-index: 1000; /* Z-index para asegurarse de que esté por encima de otros elementos */
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    font-weight: bold;
    font-size: 14px; /* Se redujo el tamaño de fuente */
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px; /* Se redujo el padding */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-item a {
    text-decoration: none;
    color: inherit;
  }
  
  .nav-item:hover {
    background-color: #ffffff;
    color: #ff0000;
  }
  
  .nav-item:hover a {
    color: #ff0000;
  }
  
  /* Estilos para el handleburger */
  .hamburger-button {
    display: none; /* Ocultar el handleburger por defecto */
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .hamburger-icon {
    display: inline-block;
    width: 20px;
    height: 30px;
    margin: 3px 0;
    transition: background-color 0.3s;
  }
  
  .hamburger-button.open .hamburger-icon {
    background-color: transparent; /* Cambio de color en el handleburger abierto */
  }

  .claro-logo {
    max-width: 58px; /* Establece un ancho máximo para el logo */
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    .navbar {
      padding: 5px; /* Se redujo el padding */
    }
  
    .nav-list {
      display: none; /* Ocultar la lista por defecto */
      flex-direction: column; /* Cambiar la dirección de los elementos */
      align-items: center; /* Centrar los elementos verticalmente */
    }
  
    .nav-list.open {
      display: flex; /* Mostrar la lista cuando el menú está abierto */
    }
  
    .nav-item {
      font-size: 14px; /* Se redujo el tamaño de fuente */
      padding: 5px; /* Se redujo el padding */
      margin: 5px 0; /* Añadir margen entre elementos */
      border: none; /* Quitar bordes en elementos de la lista */
      border-radius: 0; /* Quitar bordes redondeados */
      background-color: #ff0000; /* Cambiar color de fondo en elementos de la lista */
      color: #ffffff; /* Cambiar color de texto en elementos de la lista */
      text-align: center;
      width: 100%; /* Asegurar que los elementos ocupen todo el ancho */
    }
  
    .nav-item a {
      color: #ffffff; /* Cambiar color de enlaces en elementos de la lista */
    }
  
    .hamburger-button {
      display: inline-block; /* Mostrar el handleburger en versión móvil */
      margin-right: 10px;
    }
  }

  /* Estilos para dispositivos de pantalla grande (web) */
@media (min-width: 769px) {
    .nav-list {
      display: flex; /* Mostrar la lista en línea */
    }
  
    .nav-item {
      margin: 0 5px; /* Agregar margen horizontal entre elementos */
    }
  }
  